:root {
    --primary-font: "Libre Caslon Text", serif;
    --regular-font: "Hanken Grotesk", sans-serif;
    --regular-font-color: #505F76;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--regular-font);
    color: var(--regular-font-color);
    font-size: 24px;
}

h1, h2 {
    color: black;
    font-family: var(--primary-font);
    font-size: 96px;
    line-height: 106px;
    letter-spacing: -1.8px;
}

h3, .hero-img-overlay-text {
    color: black;
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
}

a {
    text-decoration: none;
    color: var(--regular-font-color);
    transition: color 300ms ease-in-out, border 300ms ease-in-out;
}

a:hover {
    color: black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 600ms ease-in-out, filter 1s ease;
}

img:hover {
    transform: scale(1.06);
    filter: grayscale(70%) blur(0);
}


/* --- NavBar --- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 120px;
    background-color: #fcf8fa;
    border-bottom: 1px solid #C6C6CD;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.nav-logo {
    color: black;
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: -0.9px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.nav-button {
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 18px 36px;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

.nav-button:hover {
    transform: scale(1.02);
}

/* Hero Section */

section {
    padding: 180px 120px;
}

.container.hero, .container.contact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 96px;
}

.hero-left {
    grid-column: span 5;
}

.hero-img {
    position: relative;
}

.image-wrapper {
    overflow: hidden;
}

.hero-img-overlay {
    max-width: 270px;
    padding: 48px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    background-color: #FCF8FA;
    border: 2px solid #C6C6CD;
    position: absolute;
    right: -48px;
    bottom: -24px
}

.hero-right {
    grid-column: span 7;
    display: flex;
    align-items: center;
}

.hero-right_content-wrapper {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 72px;
}

.subtitle, .copyright {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
}

.hero-title {
    margin-top: -40px;
}

.hero-para {
    font-size: 28px;
    line-height: 44px;
    margin-top: -20px;
}

.hero-right-line {
    border: none;
    height: 1px;
    background-color: black;
    margin: 2rem 0;
}

.socials-wrapper {
    display: flex;
    gap: 48px;
}

.iconify {
    color: black;
    font-size: 30px;
    transition: color 200ms ease-in-out;
}

.iconify:hover {
    color: var(--regular-font-color);
}


/* --- Works section --- */
section#works {
    background-color: #F6F3F5;
}

.container.works {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.works-header {
    display: flex;
    justify-content: space-between;
}

.works-header-side.left {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.works-header-side.right {
    max-width: 560px;
    display: flex;
    justify-content: right;
    align-items: end;
    text-align: right;
}

.works-content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 48px;
}

.card-content-wrapper {
    padding: 36px 26px 16px 0;
}

.card-content-wrapper > p {
    margin: 10px 0 24px;
}

.card-img-box {
    overflow: hidden;
}

.card-link-wrapper {
    display: flex;
    gap: 24px;
}

.card-link {
    font-size: 16px;
    border-bottom: 2px solid #565e742f;
    padding-bottom: 6px;
}

.card-link:hover {
    border-color: black;
}

/* --- Contact --- */
.container.contact > div {
    grid-column: span 6;
}

.contact-header-wrapper {
    margin-bottom: 72px;
}

.contact-header-wrapper .subtitle {
    margin-bottom: 22px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-grp {
    margin-bottom: 60px;
}

.contact-grp .subtitle {
    margin-bottom: 10px;
}


/* --- Footer --- */
footer {
    border-top: 1px solid var(--regular-font-color); 
    padding: 100px;  
}

.container.footer {
    display: flex;
    justify-content: space-between;
}

.copyright {
    color: black;
}

.footer-links-wrapper {
    display: flex;
    gap: 48px;
}